.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;

  &__wrapper {
    background-color: #333;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobileNav {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    a {
      padding-right: 24px;
    }

    &__active {
      height: 100px;
    }
  }
}

.hamburgerMenu {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
