.footer {
  background-color: #333;
  padding: 24px 32px;
  @media (max-width: 1024px) {
    margin-top: auto;
  }
  @media (max-width: 768px) {
    padding: 28px 10px 28px 32px;
  }
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

.nav {
  display: flex;
  gap: 20px;
  @media (max-width: 768px) {
    gap: 12px;
  }
}

.socialLink {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #6fff00;
  }
}
